body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
    margin: 0;
    justify-content: space-between;
    gap: 60px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(39, 68, 94);
}

.top,
.bottom {
    display: flex;
    height : auto; 
    margin : 0; 
    padding: 40px;
    
    
}

.top {
    gap : 550px;
}

.bottom {
    padding: 50px;
    gap: 100px; 
}



.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    padding:0; 
}


.footer {
    display: flex;
    margin-top: auto;
    background-color: cornflowerblue;
    justify-content: center;
    align-content: center;
}


img {
    width: 200px;
}




ul {
    gap: 30px;
    margin: 0;
    padding: 2px;
    display: flex;
    list-style-type: none;
}

.footer div {
    padding: 20px;
}


.two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px;
    gap:3px; 
    background-color: rgb(146, 146, 146);
}


.one{
    display: flex ;
    flex-direction: column;
    margin: 60px;
    align-items: center;
}


.boxes {
    display: flex;
    justify-content: center; 
    gap:100px;
}


.three {
    display: flex;
    align-items: flex-start ;
    padding : 30px;
    background-color: rgb(58, 16, 16);
    border : 5px solid rgb(101, 133, 59); 
    border-radius: 20px;
    align-self: center;
    width: 1000px;
}

button {
    flex-shrink: 0;
    border-radius: 15px ;
    font-size: larger;
    margin-top: 20px;
    padding: 16px;
    background-color: rgb(153, 153, 122);
    font-weight: bold;
    color: rgb(27, 27, 68);
    border-color: antiquewhite;
}

.three button {
    align-self: center;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.text, 
li {
    font-size: 32px;
}

